body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    text-align: center;
}

.container {
    /* to prevent stretching */
    max-width: 500px; 
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px 15px;
    background: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e64a19;
}

#recipe-container {
    margin-top: 20px;
}

#meal-image {
    max-width: 100%;
    border-radius: 5px;
}
